PORT=5000
MONGO_URI=mongodb+srv://gau159157_db_user:34yPMgNX5OG2yPiN@cluster0.4rpb6cq.mongodb.net/?appName=Cluster0
JWT_SECRET=jsnkcnaovwnlnca

# Cloudinary (Optional - falls back to local disk storage if not configured)
Cloud_Name=jotjmq93
Api_Key=452626927137267
Api_Secret=hqG8qWnYlTPzQo7tBlruVwp1Tws
